.footer {
    position:relative;

    height:60px;   /* Height of the footer */
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: red;*/
    color: black;
    text-align: center;
    font-size: 13px;

}