ul {

    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height:60px;
    background-color:#000000;
    direction: rtl;

    /*size: 20px;*/
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

li a:hover {
    text-decoration: none;
    background-color:#0dcaf0;

}
.logo1{
    position: absolute;
    left:0;
}