
.waiting_meetings_table {
    font-style: oblique;
    position: static;
    text-align: center;
    font-weight: bold;
    color: #0dcaf0;

}
.link_button:hover{
    color: white;
    text-decoration: none;

}
.link_button{
    color: white;
    text-decoration: none;

}
.approved_meetings_table {
    border: 1px solid black;

    font-style: oblique;
    position: static;
    text-align: center;
    font-weight: bold;
}



.form_id {

    background-image: url("https://www.mmins.co.il/wp-content/uploads/2015/06/mmins-slider-bg-3.jpg");
    position: absolute;
    width: 100%;
    height: 140%;
    background-repeat: no-repeat;
    background-size: 100%;
    direction: rtl;
    text-align: right;
}

.form_lawyer {
    position: absolute;
    right: 8%;
    color:#0f0f0f;
    font-style: unset;
    font-weight: bold;
}
.confirmedMeet {
    direction: rtl;
    position: absolute;
    color: #0c4128;
    top: 17%;
    right: 8%;
    width: 25%;
}
.waitingMeet {
    position: absolute;
    color: #0c4128;
    top: 17%;
    right: 57%;
    width: 25%;

}
.confirmed{
    font-style: oblique;
    font-weight: bold;
}
.waiting{
    font-style: oblique;
    font-weight: bold;

}