/*.lawyer-details{*/
/*    position: absolute;*/
/*    right: 30px;*/
/*    direction: rtl;  !* Right to Left *!*/
/*    font-size: 20px;*/
/*    border-style: solid;*/
/*    width: 500px;*/
/*    padding: 20px;*/
/*    top: 10rem;*/
/*    height:17rem;*/
/*}*/
.profile{
    position: absolute;
    height: 2%;
    top: 15%;
    direction: rtl;
    left: 20%;
    font-weight: bold;
    font-style: italic;




}

.card1 {
    width: 22rem;
    position: absolute;
    right: -8%;
color: black;
    font-size: 110%;
}
.pic_card{
    height: 20rem;
color: #e0eec7;

}

.full_page{
    direction: rtl;

}