. table_schedule{
    width: 2px;
    background-color: #4CAF50;
}
.f{
position: absolute;
    text-align: center;
    width: 25%;
    top: 25%;
    direction: rtl;
    bottom: 99%;
    left: 23%;
    font-family: Arial;

}

.title_schedule{
    position: absolute;
    left: 26%;
    top: 10%;

    direction: rtl;
}
