/*.video{*/
/*    position: absolute;*/
/*    top: 20%;*/
/*    left: 15%;*/
/*}*/
/*.main_page{*/
/*    direction: rtl;*/
/*}*/

/*div.gallery {*/

/*    border: 5px solid #007808;*/
/*    width:250px;*/
/*    height:250px;*/
/*}*/

/*div.gallery img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*div.desc {*/
/*    padding: 15px;*/
/*    text-align: center;*/
/*}*/
.proguide_title{
    color: #6a1a21;
    text-align: center;
    font-size: 500%;
    font-style: oblique;
}
.button_start{
position: absolute;
    top: 4%;
    right: 2%;
    background-color: #0a58ca;
    border: none;
    color: white;
    font-weight: bold;
    padding: 20px 50px;
    text-align: center;
    font-size: 30px;
}
.cards_req{
    top: 15%;
    left: 25%;
    width: 50%;
    height: 73%;
    padding: 5px;
    text-align: center;
}
.pic_cards{
    width: 100%;
    height: 50%;
}
.main_page{
    position: fixed;
}
/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*.responsive {*/
/*    padding: 0 6px;*/
/*    float: left;*/
/*    width: 25%;*/
/*}*/
/*.allrecomendation{*/
/*    position: relative;*/
/*    left: 10%;*/
/*    padding-top: 35%;*/
/*    padding-bottom: 40%;*/
/*}*/
/*.button_start{*/
/*    navbutton_background_color: #4CAF50;*/
/*    background-color: #009a4d ;*/
/*}*/

