.search_lawyer_full_page {
    direction: rtl;
    text-align: center;
    font-weight: bold;
    padding-top: 25%;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://www.mmins.co.il/wp-content/uploads/2015/06/mmins-slider-bg-3.jpg");
    background-size: 100%;
}

.search_table {
position: absolute;
right: 23%;
}
.press_btn {
    position: fixed;
    top: 30%;

}

.occupation-buttons {
    position: absolute;
    left: 40%;
    top: 25%;

}




.button {
    font-weight: bold;
    width: 7rem;
    height: 7rem;
    background-color: #007808;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 130%;
    margin: 1px 50px;
    cursor: pointer;
    border-radius: 10%;
}

.text {
    right: 23%;
    font-weight: bold;
    font-size: 160%;
    position: absolute;
    top: 15%;
}
