.user_meetings {
    direction: rtl;
    position: absolute;
    color: #c00800;
    top: 10%;
    right: 26%;
    width: 40%;

}

.user_meeting_title {
    font-weight: bold;
    font-size: 60px;
    font-style: italic;

}

.user_meeting_table {
    font-style: oblique;
    position: static;
    text-align: center;
    font-weight: bold;


}

.full_user_page {

    background-image: url("https://www.mmins.co.il/wp-content/uploads/2015/06/mmins-slider-bg-3.jpg");
    position: absolute;
    width: 100%;
    height: 120%;
    background-size: 100%;
    direction: rtl;
    text-align: right;

}